<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title || "Admin Dashboard" %></title>
    <link rel="stylesheet" href="/styles/layout.css">
</head>
<body>

    <nav class="sidebar">
        <h1>ADMIN DASHBOARD</h1>
        <ul>
           
        </ul>
    </nav>

    <div class="loading"><div class="spinner"></div></div>

    <main>
       <%- include(body, {data}) %>
    </main>

</body>

<script src="/javascript/layout/index.js"></script>
</html>
